<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="APISuite">
  <test thread-count="5" name="GetPostTest">
    <classes>
      <class name="com.juaracoding.posttest21.TestGet"/>
      <class name="com.juaracoding.posttest21.TestCRUD"/>
    </classes>
  </test> <!-- GetPostTest -->
</suite> <!-- APISuite -->
